<% posts.each do |post| %>
  <div class='post'>
    <b><%= post['user_id'] %>:</b>
    <span class='text'><%= post['post']['message'] %></span>
    <span class='date'><%= post['date'].strftime("%Y-%m-%d %H:%M") %></span>
  </div>
<% end %>
