
<form action='/post' method='post'>
  <h3>Publish a Post:</h3>
  <label for='username'>Username:</label>
  <textarea name='text' id='username'></textarea>
  <label for='text'>Message:</label>
  <textarea name='text' id='text'></textarea>
  <input type='submit' value='Post'/>
</form>
